body{
   background-image: linear-gradient(100deg,#22223B,#22223B,#4A4E69,#766674,#a2857e,#F2E9E4);
}


.glow {
   font-size: 50px;
   color: #fff;
   text-align: center;
   text-shadow: 0 0 10px #fff, 0 0 20px #f39ec3, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
 }
 

.container{
   margin: auto;
   text-align: center;
   height: 60vmin;
   width: 70vmin;
   padding: 20px;
   border: 0.5px solid rgb(248, 248, 248);
   border-radius: 20px;
   color: aliceblue;
   box-shadow: 0 0 20px 0 rgb(188, 177, 177);
   background-image: linear-gradient(90deg,rgb(96, 52, 126),rgb(15, 0, 128),rgb(96, 52, 126));
}
.timer{
   justify-content: center;
   align-items: center;
   height: 40vmin;
   display: flex;
   flex-wrap: wrap;
   font-size: xx-large;
   border: 0.5px solid rgb(252, 252, 252);
   padding: -14px;
   gap: 10px;
   border-radius: 20px;
   background-color: black;
   background-image: linear-gradient(150deg,black,rgb(62, 58, 58),black);
}
button{
   margin-top: 50px;
   border-radius: 6px;
   border: 0.01px solid black;
   padding: 5px;
   font-size: larger;
   background-color: dodgerblue;
   color: aliceblue;
   cursor: pointer;
}
.records{
   color: aliceblue;
   font-size: larger;
   padding: 20px;
   margin: 10px;
}
.btn1{
   margin-left: 35px;
   box-shadow: 0 0 5px 0 dodgerblue;
}
.btn2{
   margin-left: 35px;
   background-color: rgb(250, 48, 48);
   box-shadow: 0 0 5px 0 rgb(246, 130, 130);
}
.btn3{
   margin-left: 35px;
   margin-right: 35px;
   background-color: rgb(8, 235, 49);
   box-shadow: 0 0 5px 0 rgb(161, 246, 130);
}
.btn1:hover{
   background-color: rgb(137, 189, 234);
}
.btn2:hover{
   background-color: rgb(234, 142, 137);
}
.btn3:hover{
   background-color: rgb(155, 238, 146);
}
.hide{
   display: none;
}